[submodule "services/hanum-pay"]
	path = services/hanum-pay
	url = https://github.com/hansei-hanum/HanumPay.git
[submodule "services/hanum-pay-dashboard"]
	path = services/hanum-pay-dashboard
	url = https://github.com/hansei-hanum/hanum-pay-dashboard.git
[submodule "services/info"]
	path = services/info
	url = https://github.com/hansei-hanum/hanum-backend-info.git
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/hansei-hanum/hanum-backend-auth.git
[submodule "services/pay-bot"]
	path = services/pay-bot
	url = https://github.com/hansei-hanum/hanum-pay-bot.git
[submodule "services/festival"]
	path = services/festival
	url = https://github.com/hansei-hanum/hanum-backend-festival.git
[submodule "services/community"]
	path = services/community
	url = https://github.com/hansei-hanum/hanum-backend-community.git
